server:
    rootPath: /api/*
    adminContextPath: /admin
    applicationConnectors:
        - type: http
          port: 8080
    adminConnectors:
        - type: http
          port: 8081

jwtSecret: {{ jwtSecret }}
jwtTokenExpiryInSeconds: {{ jwtExpirySeconds }}
passwordSalt: {{ passwordSalt }}

database:
    driverClass: org.postgresql.Driver
    url: jdbc:postgresql://{{ db_server }}/{{db_name}}
    schema: {{ db_schema }}
    user: {{ db_user }}
    password: {{ db_password }}
